.carrito{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.boton{
    color: #F1FFFF;
    display: flex;
    background-color: #202020;
    margin-top: 5px;
    outline: none;
    padding: 15px 30px 15px 30px;
    border-radius: 8px;
    border: transparent;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    font-weight: lighter;
}
h1{
    font-weight: lighter;
}