.detalle{
    height: 90vh;
    width: 100%;
}
.zonaSuperior{
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    margin-left: 5vw;
}
.zonaContenido{
    height: 80vh;
    width: 100%;
    display: flex;

}
.zonaFoto{
     height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items:center;

}
.zonaDescripcion{
    width: 50%;
}
body{
    overflow-x: hidden;
}