
.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2.6fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "header header header header header header header header"
      "header header header header header header header header"
      "foto foto foto foto foto descripcion descripcion descripcion"
      "foto foto foto foto foto descripcion descripcion descripcion"
      "foto foto foto foto foto descripcion descripcion descripcion"
      "foto foto foto foto foto descripcion descripcion descripcion"
      "foto foto foto foto foto descripcion descripcion descripcion"
      "otras otras otras otras otras otras otras otras";
    border: solid 1px grey;
    }
  .header{ 
    grid-area: header;
    border: solid 1px grey;

}
  .foto{
    grid-area: foto;
    border: solid 1px grey;
}
  .descripcion {
    grid-area: descripcion;
    border: solid 1px grey;

}
  .otras{
    grid-area: otras; 
    border: solid 1px grey;

}
